funcname	SAcC_list
pca_file	aux/mapping-pca_sr8k_bpo6_sb24_k10.mat
wgt_file	aux/sub_qtr_rats_keele_sr8k_bpo6_sb24_k10_ep5_h100.wgt
norms_file	aux/tr_keele_rbf_pinknoise_sr8000_bpo6_nchs24_k10.norms
pcf_file	aux/pitch_candidates_freqz.txt
kdim	10
nchs	24
n_s	10
SBF_sr	8000
SBF_fmin	100
SBF_bpo	6
SBF_q	8
SBF_order	2
SBF_ftype	2
force_mono	1
hid	100
nmlp	68
hmm_vp	0.9
